APP_NAME=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=
SESSION_DRIVER=database
QUEUE_CONNECTION=database

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
